

html {
    background-color: #131518;
    color: hsl(217, 12%, 63%);
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#cardContainer {
    width: 327px;
    height: 360px;
    border-radius: 15px;
    background-image: radial-gradient(#232A34 100%, #181E27 100%);
}

#ratingCard {
    padding: 24px 24px 32px 24px;
}

#ratingIcon {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #262E38;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

h1 {
    font-weight: 700;
    line-height: 30.38px;
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

p {
    line-height: 22px;
}

form {
    margin-top: 24px;
}

.ratingButtons {
    display: flex;
    justify-content: space-evenly;
}

input {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}
label {
    display: inline-flex;
    background-color: #262E38;
    height: 42px;
    width: 42px;
    border-radius: 50px;
    color :#7C8798;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 24px;
}

input:checked + .rating-label{
    transition: all 0.5s;
    background-color: hsl(217, 12%, 63%);
    color: white;
}

label:hover {
    background-color: #FC7614;
    color: white;
}

form button {
    border-radius: 50px;
    width: 100%;
    background-color: #FC7614;
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    line-height: 17.72px;
    font-weight: 700;
}
form button:hover {
    background-color: white;
    color:#FC7614;
}

/*Styling and size adustments for desktop size*/
@media only screen and (min-width: 950px) {
    #ratingIcon {
        border-radius: 50px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    h1 {
        line-height: 35.45px;
        font-size: 28px;
        margin-bottom: 7px;
    }
    p {
        font-size: 15px;
        line-height: 24px;
    }

    #cardContainer {
        width: 412px;
        height: 416px;
        border-radius: 30px;
    }

    #ratingCard {
        padding: 32px 36px 32px 36px;
    }
    #ratingIcon {
        width: 48px;
        height: 48px;
    }
    #ratingCard label {
        height: 51px;
        width: 51px;
        font-size: 16px;
        line-height: 24px;
    }
    form button {
        padding-top: 11px;
        padding-bottom: 11px;
        margin-top: 32px;
        line-height: 19px;
        font-size: 15px;
    }
  }

/*Thank you card section*/
#thankYouCard {
    padding: 34px 24px 37px 24px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#thankYouCard img {
    width: 144px;
    height: auto;
}

h2 {
    color: #FC7614;
    line-height: 22px;
    font-weight: 400;
    font-size: 14px;
    background-color: #262E38;
    border-radius: 22.5px;
    padding: 8px 12px 5px 12px;
    margin: 24px auto 24px auto;
}

h1 {
    margin-bottom: 10px;
}
@media only screen and (min-width: 950px) {
    #thankYouCard {
        padding: 45px 36px 45px 36px;
    }

    #thankYouCard img {
        width: 162px;
    }

    h2 {
        line-height: 24px;
        font-size: 15px;
        padding: 7px auto 4px auto;
        margin: 32px 78px;
    }
    h1 {
        margin-bottom: 7px;
    }

}

/*Footer Section*/
footer {
    position: absolute;
    width: 100vw;
    left: 0;
    bottom: 10px;
}
  
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
